@import "../../ui-kit";

.wrapper-none{
    display: none;
}

@mixin inputs-mix{
    font-size: 20px;
    border:2px solid $note-secondary;
    border-radius: 5px;
    outline: none;
    max-width: 100%;
    &:hover{
        border-color: $note-secondary-hover;
    }
}

.wrapper-modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 59, 126, 0.26);;
    height: 100%;
    width: 100%;
    cursor: pointer;
    .modal-window{
        height: 80%;
        width: 40%;
        margin: 5% auto;
        background-color: $note-primary;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        cursor: auto;
        textarea{
            min-height: 30%;
            @include inputs-mix;
        }
        .preview-text{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            column-gap: 3px;
            p{
                font-size: 20px;
                color: $note-secondary;
            }
            .highlight{
                color:$note-secondary-hover;
                text-decoration: 1px underline $note-secondary-hover;
            }
        }
        input{
            @include inputs-mix;
        }
        hr{
            border: 1px solid $note-secondary;
            width: 100%;
        }
        p{
            font-size: 24px;
            color: $note-secondary-hover;
            font-weight: 400;
        }
        .plus{
            font-size: 30px;
            font-weight: 700;
            color: white;
            background-color: $note-secondary;
            border: 5px solid $note-secondary;
            padding: 2;
            width: fit-content;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                background-color: $note-secondary-hover;
                border-color: $note-secondary-hover;
            }
        }
    }
}

