$main-blue:#7ECCFF;
$secondary-blue: #3691ce;
$secondary-blue-hover: #287fb9;
$main-blue-hover:#4fb9ff ;
$note-primary:#FFE8AE;
$note-secondary:#D4BB78;
$note-secondary-hover:#ad934c;

.title{
    color: $main-blue;
    font-size: 32px;
    margin-bottom: 20px;
}